.fnhsg { 
  margin-right: 84px;
  border-top-width: 70px;
  margin-bottom: 6px;
  border-right-width: 59px;
  padding-top: 95px;
  padding-left: 98px;
  padding-left: 34px;
  padding-bottom: 76px;
  padding-bottom: 46px;
  line-height: 89px;
  border-bottom-width: 27px;
  border-bottom-width: 89px;
  margin-left: 53px;
  border-left-width: 97px;
  margin-right: 23px;
}
